@charset "UTF-8";

/* CORES 

VERDE: #618C03
AMARELO: #F2B705
LARANJA: #F2B705
VERMELHO CLARO: #D92B04
VERMELHO ESCURO: #D92B04
PAPEL: #D9D1A9

*/ 

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace, Arial, Helvetica, sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
    background-color: #D9D1A9;
}

header {
    background: linear-gradient(to bottom, #D97904, #F2B705);
}

.logo {
    display: flex;
    justify-content: left;
    padding: 15px;
    padding-left: 20px;
}

.logo > img {
    width: 80px;
    height: 80px;
}

nav {
    display: flex;
    justify-content: right;
    padding-top: 60px;
}

.nav {
    padding-inline: 20px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
}

.nav:hover {
    background-color: #D97904;
    border-radius: 20px;
    transition: .3s;
    color: white;
    cursor: pointer;
}

section#about {
    background-color: #D9D1A9;
}

section#about > h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

section#about > p {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 20px;
}

div.about-images {
    background-image: url(../img/training.jpg);
    padding-bottom: 600px;
    background-size: cover;
    border-radius: 60px;
    border: solid rgba(0, 0, 0, 0.644);
    margin: 15px;
}

section#menu > h2 {
    background-color: #D9D1A9;
    text-align: center;
    font-family: "Handlee", cursive;
    text-decoration: underline;
}

/* BACON */

div.burger-1 {
    background-image: url(../img/bacon.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 720px;
}

div.burger-1 > h2 {
    display: block;
    justify-content: first baseline;
}

div.container {
    background-color: #D9D1A9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    margin-right: 132px;
    padding-bottom: 45px;
    border-bottom-right-radius: 45px;
    border-top: none;
}

div.container > h3 {
    padding-top: 30px;
    padding-left: 60px;
    font-family: "Handlee", cursive;
}

div.container > p {
    padding-left: 30px;
    padding-top: 13px;
    padding-right: 20px;
    line-height: 17px;
    font-family: "Handlee", cursive;
    letter-spacing: 3px;
    text-indent: 20px;
}

/* RUSTICO */

div.burger-2 {
    background-image: url(../img/rustic.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 720px;
}

div.burger-2 > h2 {
    display: block;
    justify-content: first baseline;
}

div.container-2 {
    background-color: #D9D1A9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    margin-right: 132px;
    padding-bottom: 45px;
    border-bottom-right-radius: 45px;
}

div.container-2 > h3 {
    padding-top: 30px;
    padding-left: 69px;
    font-family: "Handlee", cursive;
}

div.container-2 > p {
    padding-left: 30px;
    padding-top: 13px;
    padding-right: 20px;
    line-height: 17px;
    font-family: "Handlee", cursive;
    letter-spacing: 3px;
    text-indent: 20px;
}

/* TRIPLOMEAT */

div.burger-3 {
    background-image: url(../img/triplomeat.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 720px;
}

div.burger-3 > h2 {
    display: block;
    justify-content: first baseline;
}

div.container-3 {
    background-color: #D9D1A9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    margin-right: 132px;
    padding-bottom: 45px;
    border-bottom-right-radius: 45px;
}

div.container-3 > h3 {
    padding-top: 30px;
    padding-left: 40px;
    font-family: "Handlee", cursive;
}

div.container-3 > p {
    padding-left: 30px;
    padding-top: 13px;
    padding-right: 20px;
    line-height: 17px;
    font-family: "Handlee", cursive;
    letter-spacing: 3px;
    text-indent: 20px;
}

/* VEGANO */

div.burger-4 {
    background-image: url(../img/vegan.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 720px;
}

div.burger-4 > h2 {
    display: block;
    justify-content: first baseline;
}

div.container-4 {
    background-color: #D9D1A9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    margin-right: 132px;
    padding-bottom: 45px;
    border-bottom-right-radius: 45px;
}

div.container-4 > h3 {
    padding-top: 30px;
    padding-left: 40px;
    font-family: "Handlee", cursive;
}

div.container-4 > p {
    padding-left: 30px;
    padding-top: 13px;
    padding-right: 20px;
    line-height: 17px;
    font-family: "Handlee", cursive;
    letter-spacing: 3px;
    text-indent: 20px;
}

section.clientes {
    background-color: #A64F03;
    margin:0px 30px 0px 30px;
    border-left: solid black;
    border-right: solid black;
}

section.clientes > h2 {
    padding-left: 20px;
    padding-right: 20px;
}

section.clientes > div.coments > p {
    padding: 20px;
    text-shadow: 20px;
    text-align: justify;
}

div#mapa-title {
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}

div.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

iframe {
    width: 80%;
    height: 300px;
    border: none;
}

div.contato {
    text-align: center;
    font-size: 0.8em;
}

div#redes {
    text-align: center;
}

div#redes > p > a:hover {
    color: rgb(155, 42, 33);
}

footer {
    background-color: #A64F03;
    color: white;
    border-top: solid black;
    text-align: center;
    margin-top: 20px;
}

footer > p > a {
    color: white;
}

footer > p > a:hover {
    color: rgb(42, 236, 243);
    text-decoration: dashed;
}