@charset "UTF-8";

/* CORES 

VERDE: #618C03
AMARELO: #F2B705
LARANJA: #F2B705
VERMELHO CLARO: #D92B04
VERMELHO ESCURO: #D92B04
*/ 

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace, Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(to bottom, #D97904, #F2B705);
}

.logo {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.logo > img {
    width: 120px;
    height: 120px;
}

nav {
    display: flex;
    justify-content: center;
}

.nav {
    padding-inline: 20px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Quicksand", sans-serif;
}

.nav:hover {
    background-color: #D97904;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: .3s;
    color: white;
}

section#about {
    background-image: url(../img/training.jpg);
    background-size: cover;
    background-position: right bottom;
    padding-top: 500px;
}

section#about > h1 {
    background-color: rgba(128, 128, 128, 0.651);
    padding: 10px;
    padding-left: 18px;
    text-align: left;
    border-top-right-radius: 40px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.8em;
}

section#about > p {
    background-color: rgba(128, 128, 128, 0.651);
    padding: 10px;
    padding-left: 18px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-indent: 10px;
    text-align: justify;
    font-size: 1.4em;
}

section#entrega {
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    background-position: right bottom;
    padding-bottom: 500px;
    border-top: solid black;
}

section#entrega > h2 {
    background-color: rgba(128, 128, 128, 0.651);
    padding: 10px;
    padding-left: 18px;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.8em;
}

section#entrega > p {
    background-color: rgba(128, 128, 128, 0.651);
    padding: 10px;
    padding-left: 18px;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-indent: 10px;
    text-align: justify;
    font-size: 1.2em;
    border-bottom-right-radius: 40px;
}